.defaultStyle {
    color: "#FFFFFF";
    position: absolute;
}

.background {
    width:100%;
    height:100%;
    background-color: transparent;
}

.formatter {
    position:absolute;
    top:0;
    width:100%;
    bottom:0;
    overflow:hidden;
}

.worktext {
    border-radius: 20px;
    font-size: max(min(20px, 2.3vw), 12px);
    font-weight:bold;
    background: linear-gradient(#D1ACFF, #155070 64%);
    border: 1.5px solid turquoise;
    white-space: pre-line;
    left: 25%;
    right:25%;
    text-align: center;
}