.light {
    position: absolute;
    z-index: 2;
    top: 15%;
    translate: 50% 0%;
    transform-origin: 0% 100%;
}

.img {
    width: 40%;
}


.switch {
    position: absolute;
    width: 35%;
    height: 80%;
    left: 33%;
}

.work {
    top: 115%;
}

.social {
    top: 115%;
}