.fact {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
}

.fact p {
    font: roboto-serif;
    font-size: max(min(20px, 2vw), 13px);
}

.image {
    width: 36px;
    height: 36px;
    margin: 3px;
    display: block;
    padding: 0px;
    left: 0;
}