.square {
    background-color: #BB86FC;
    color: #F8F8FF;
      padding: 5px 5px;
      text-align: center;
      height: max(min(40px, 5vw), 30px);
      width: max(min(130px, 15vw), 110px);
      text-decoration: none;
      display: flex;
      font-size: max(min(24px, 3vw), 20px);
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 0;
      border: 2px solid #FFFFFF;
      font-family: Roboto-Serif;
      justify-content: center;
      align-items: center;
}