.container {
    position: absolute;
    background-color: transparent;
    display: flex;
    width: 1200px;
    height: 500px;
    overflow: hidden;
    pointer-events: none;
}

.container.topleft {
    top: 0;
    left: 0;
}

.container.bottomright {
    bottom: 0;
    right: 0;
}

.diamond {
    position: absolute;
    width: 200%;
    height: calc(max(min(70vw, 100%) - 27% + 15vh, 82%));
    display: flex;
    margin: auto;
    place-content: start center;
    justify-content: left;
    align-items: flex-start;
    pointer-events: auto;
    border: 5px solid white;
}

.diamond.topleft {
    top: 56%;
    left: -146%;
    transform: rotate(135deg);
    background-color: #6D58B7;
}

.diamond.bottomright {
    transform: rotate(-45deg);
    bottom: 70%;
    right: -150%;
    background-color: #03DAD9;
}

.text {
    font-family: Roboto-Serif;
    font-size: calc(max(min(50px, 6vw) - 25px + 3vh, 30px));
    /* font-size: 50px; */
}

.text.topleft {
    padding-bottom: 10px;
    color: #FFFFFF;
    padding-right: calc(min(28% - min(12%, 38vw) - 8.5vh, 16%));
    transform: rotate(180deg);
}

.text.bottomright {
    color: #355070;
    padding-left: 9%;
    padding-left: calc(min(16% - min(9%, 30vw) + 7% - 10vh, 13%));
    padding-top: 10px;
}