.achievement {
    z-index: 3;
    position: absolute;
    color: #FFFFFF;
    font-size: 40px;
    font-family: Roboto, sans-serif;
}

.left {
    left: 3%;
    text-shadow: 0 0 6px #000000;
}

.right {
    right: 3%;
    text-shadow: 0 0 6px #03DAD9;
}