.topright {
    position:absolute;
    top:10%;
    right:10%;
}

.bottomleft {
    position:absolute;
    bottom:10%;
    left:10%;
}

@keyframes pan {
    0% {
      background-position: 0% 290%;
    }
    100% {
      background-position: 133% 0%;
    }
  }

.tetris {
    background-image: url("miscImages/g57.svg");
    background-size: 40%;  
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0%;
    z-index: 1;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.10;
    animation: pan 14s linear infinite;
    will-change: background-position;
  }