.default {
    background-color: #355070;
    min-height: 100vh;
    min-width: 100vw;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

.topright {
    position:absolute;
    top:10%;
    right:10%;
}

.bottomleft {
    position:absolute;
    bottom:10%;
    left:10%;
}