.profilecard {
    position: relative;
    width: 200px;
    height: 400px;
    background-color: red;
}

.aboutme {
    width:500;
    line-height:0.9;
}

.aboutme p {
    color:white;
    /* font-size:65px; */
    font-size: calc(max(min(65px, 6vw), 50px) - 40px + 5vh);
    margin:10px 0;
    font-family:Roboto-Serif;
}

.formatter {
    /* position:absolute; */
    /* top:50%;
    left:50%;
    transform:translate(-50%, -50%); */
    text-align:center;
}

.links {
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}
