.profile {
    width: max(min(300px, 25vw), 250px);
    /* height: 300px; */
    height: max(min(300px, 25vw), 250px);
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}