.circleContainer {
    height:10%;
    width: 90vw;
    display: flex;
    margin-top: 5px;
    align-items: left;
    justify-content: center;
    gap: 5px;
}

@keyframes rotate {

    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}


.circle {
    height: 15px;
    width: 15px;
    border: 1px solid #355070;
    border-radius: 50%;
}

.clicked {
    background: linear-gradient(#F55070, #155070);
    animation: rotate 2s linear infinite;
    will-change: transform;
    pointer-events: none;
}

.notclicked {
    background: linear-gradient(20deg, #03DAD9, #547eb1 70.7%),
    linear-gradient(80deg, #03DAD9, #547eb1 50.7%),
    linear-gradient(200deg, #03DAD9, #547eb1 20.7%);
}

.duringclick {
    background: linear-gradient(grey, black);
    animation: rotate 2s linear infinite;
    will-change: transform;
    /* make unclickable */
    pointer-events: none;
}
