.experienceContainer {
    font-family: 'Arial', sans-serif;
  }

.experienceContainer h2 {
    font-size: calc(1.3em + 1vw);
    margin-top: 0px;
    margin-bottom: calc(min(30px, 4vw));
}

.experienceEntry {
    display: flex;
    flex-direction: column;
}

.roleCompanyDuration {
    display: flex;
    flex-direction: row;
    margin-left: 6px;
    justify-content: space-between;
    align-items: center;
}

.institution {
    align-self: flex-start;
    font-style: italic;
    font-size: calc(16px + 0.5vw);
    margin: 0px 0px 0px 20px;
    left: 0;
    top: 0;

}

.roleCompany {
    font-size: calc(12px + 0.5vw);
    margin: 0px 40px 0px 20px;
    text-align: left;
}
  
.experienceDuration {
    font-style: italic;
    white-space: nowrap;
    font-size: calc(10px + 0.5vw);
    margin: 0px 2.5% 5px auto;
}

.recipient {
    font-size: calc(11px + 0.6vw);
    font-weight: bold;
    margin: 5px auto 5px 30px;
    text-align: left;
}

.detailList {
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
    align-items: flex-start;
}

.details {
    margin-left: calc(min(-30px + 3vw, 0px));
    font-size: calc(0.7em + 0.5vw);
    text-align: left;
    align-self: flex-start;
}