.title {
    position: absolute;
    translate: -50% calc(20%);
    top: 0%;
    z-index: 2;
    display:flex;
    align-items:center;
}

.title h1 {
    color:#FFFFFF;
    font-size: calc(max(min(80px, 8vw), 40px));
    font-family: main title;
}

.title img {
    margin-left:10px;
    height:calc(max(min(80px, 8vw), 40px));
}

.experienceCard {
    position: absolute;
    display:flex;
    align-items:center;
    flex-direction: column;
    top: calc(34% - max( 400px - max(99vw, 39%), 0%));
    z-index: 3;
    /* height: calc(70% + max( 285px - max(85vw, 28%), 0%)); */
}

.card {
    width: 90vw;
    height:90%;
    border: 5px solid white;
    color:white;
    display: flex;
    align-items:center;
    justify-content:center;
    margin-bottom: 0px;
}

