.page {
    position: absolute;
    left: 0;
    top: 0;
    background-color:#355070;
    height: 100%;
    width: 100vw;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow: hidden;
}