.leadershipContainer {
  font-family: 'Arial', sans-serif;
}

.experienceEntry {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

.leadershipContainer h2 {
  font-size: calc(1em + 1.4vw);
  margin-top: 0px;
  margin-bottom: 3px;
}

.titleOrganizationDuration {
    display: flex;
    flex-direction: row;
    margin-left: 6px;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}


.titleOrganization {
  /* margin-left: calc(-5px + 0.7vw); */
  font-size: calc(12px + 0.5vw);
  margin: 0px 20px 0px calc(-13px + 1.5vw);
  text-align: left;
}

.experienceDuration {
  font-style: italic;
  white-space: nowrap;
  margin-left: auto;
  margin-right: 2.5%;
  font-size: calc(10px + 0.5vw);
  margin-top: 0px;
  margin-bottom: 0px;
}
  
.details {
  margin-top: 3px;
  margin-bottom: 3px;
    margin-left: calc(-7px + 1.5vw);
    font-size: calc(0.6em + 0.5vw);
    text-align: left;
}