.experienceContainer {
    font-family: 'Arial', sans-serif;
  }

.experienceContainer h2 {
    font-size: 2.5em;
    /* margin-bottom: 10px; */

}

/* .experienceEntry {
    /* margin-bottom: 20px; */
/* } */

.roleCompanyDuration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.roleCompany {
    font-size: 1.4em;
    margin-bottom: 5px;
}
  
.experienceDuration {
    font-style: italic;
    margin-bottom: 10px;
    /* all on one line */
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    margin-left: auto;
}