.experienceContainer {
    font-family: 'Arial', sans-serif;
  }

.experienceContainer h2 {
    font-size: calc(1.5em + 1vw);
    margin-top: 0px;
    margin-bottom: 30px;
}

.roleCompanyDuration {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.roleCompany {
    font-size: calc(14px + 0.5vw);
    margin-top: 0px;
    margin-bottom: 0px;
}
  
.experienceDuration {
    font-style: italic;
    white-space: nowrap;
    margin-left: auto;
    font-size: calc(10px + 0.5vw);
    margin-top: 0px;
    margin-bottom: 0px;
}

.details {
    font-size: calc(0.7em + 0.5vw);
    text-align: left;
}